

# Project
plan.md
outline.md

# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
.DS_Store

GPT2/
mistral_DPO/
DPO_presentation/

outline.md
plan.md
relevant_models.md
adventure_log.md

test_dry_run.py
extract_pdf.py

# job files
run_eval.sh
run_dpo_gpt2.sh